name: Elixir CI

on: push

jobs:
  build:

    runs-on: ubuntu-latest

    container:
      image: elixir:1.13.1-slim
      env:
        MIX_ENV: test

    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          apt update -y
          apt-get update -y
          apt install -y make
          apt-get install -y build-essential
      - name: Cache mix deps
        uses: actions/cache@v2
        with:
          path: deps
          key: ${{ runner.OS }}-mix-cache-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ runner.OS }}-mix-cache-${{ env.cache-name }}-
            ${{ runner.OS }}-mix-cache-
            ${{ runner.OS }}-
      - name: Install Dependencies
        run: |
          mix local.rebar --force
          mix local.hex --force
      - name: Cache build
        uses: actions/cache@v2
        with:
          path: _build
          key: ${{ runner.OS }}-build-cache }}
          restore-keys: |
            ${{ runner.OS }}-build-cache-
            ${{ runner.OS }}-
      - name: Build
        run: mix do deps.get, compile

      - name: Check formatted
        run: mix format --check-formatted
      - name: Run Credo
        run: mix credo --strict
      - name: Run Tests
        run: bash ./check_coverage.sh
